.navbar {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  width: 100px;
  height: 100vh;
  background-color: #000000;
  border-right: 10px;
  z-index: 2;
  .nav-links {
    .link {
      // color: red;
      text-decoration: none;
      margin-top: 30px;
      a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
      }
      button {
        width: 100px;
        height: 30px;
        margin-top: 15px;
        border: 2px rgb(152, 7, 7) solid;
      }
    }
  }
}
.burger-container {
  position: absolute;
  top: 0;
  right: -44px;
  z-index: 4;
  padding: 10px;
  border: solid px black;
}
.burger-bar {
  border-bottom: 2px solid black;
  height: 1px;
  width: 24px;
  margin-bottom: 4px;
}
.open {
  transform: translateX(0);
}
@media only screen and (min-width: 600px) {
  .burger-container {
    display: none;
  }

  .navbar {
    height: 110px;
    width: 100vw;
    transform: translateX(0);
  }
  .nav-links {
    display: flex;
    justify-content: row;
    margin-left: 4rem;

    a {
      margin-left: 3rem;
      font-size: 2rem;
    }
  }
}
